
<div class="col-md-8 mx-auto">
    <button (click)="gotoList()" class="btn btn-primary">Liste des projets</button><br><br>
    <div class="card">
        <div class="card-header">
            Nouveau projet
        </div>
        <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onSaveProjet(f)">
            <div class="form-group">
                <label  class="control-label">
                    Intitulé en francais
                </label>
                <input type="text" name="projet" ngModel  ngModel class="form-control">
            </div>
            <div class="form-group">
                <label  class="control-label">
                    Intitulé en arabe
                </label>
                <input type="text" name="projet_ar" ngModel class="form-control">
            </div>
            <div class="form-group">
                <label  class="control-label">
                    Localisation
                </label>
                <input type="text" name="location" ngModel class="form-control">
            </div> 
            <div class="form-group">
                 Commune   <select class="form-control" name="commune" *ngIf="communes" [(ngModel)]="selectedCommune" (ngModelChange)="onRowClick()">
                     
                     <option *ngFor="let commune of communes['_embedded'].communes" [value]="commune.id">{{commune.commune}}</option>
                   </select>
             </div>
             <div class="form-group">
                 Statut   <select class="form-control" name="statut" *ngIf="statuts" [(ngModel)]="selectedStatut" (ngModelChange)="onRowClick()">
                     
                     <option *ngFor="let statut of statuts['_embedded'].statuts" [value]="statut.id">{{statut.statut}}</option>
                   </select>
             </div>
             <div class="form-group">
                 Maitre d'ouvrage:   <select class="form-control" name="maitreOuvrage" *ngIf="mos" [(ngModel)]="selectedMaitreOuvrage" (ngModelChange)="onRowClick()">
                     
                     <option *ngFor="let maitreOuvrage of mos['_embedded'].maitreOuvrages" [value]="maitreOuvrage.id">{{maitreOuvrage.maitreOuvrage}}</option>
                   </select>
             </div>
            <div class="form-group">
                <label  class="control-label">
                    Consistence
                </label>
                <input type="text" name="consistence" ngModel class="form-control">
            </div>
            <div class="form-group">
                <label  class="control-label">
                    Benificiares
                </label>
                <input type="text" name="benificiares" ngModel class="form-control">
            </div>
            <div class="form-group">
                <label  class="control-label">
                    Delai
                </label>
                <input type="number" name="delai" ngModel class="form-control">
            </div>
            <div class="form-group">
                <label  class="control-label">
                    Cout
                </label>
                <input type="number" name="cout" ngModel class="form-control">
            </div>
            <div class="form-group">
                <label  class="control-label">
                    Date lancement
                </label>
                <input type="date" name="dateLancement" ngModel class="form-control">
            </div>
          
            <button class="btn btn-success" type="submit">Ajouter</button>
    
        </form>
    </div>
    </div>
</div>
