<div class="container">
    <div class="card card-primary">
        <div class="card-header">Liste des provinces</div>
        
        <div class="card-body">
            <div class="d-flex">
            <div class="d-inline-block">
                <form #f="ngForm" (ngSubmit)="onChercher(f.value)">
                    <div class="form-group">
                        <label>Province</label>&nbsp;
                        <input type="text" ngModel name="keyword">&nbsp;
                        <button type="submit" class="btn btn-success"><i class="fa fa-search" style="font-size:17px"></i> chercher</button>
                    </div>
               </form>
            </div>
            <div class="ml-auto d-inline-block">
             
                <button (click)="ajouter()" class="btn btn-primary">
                    <i class="fa fa-plus-square-o" style="font-size:17px"></i> Ajouter
                    </button>
            </div>
        </div>
      
          
            <table class="table table-bordered" *ngIf="provinces">
                <thead>
                    <tr>
                        <th>Id</th>
                       <th>province fr</th>
                        <th>province ar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of provinces['_embedded'].provinces">
                        <td>{{p.id}}</td>
                        <td>{{p.province}}</td>
                        <td>{{p.province_ar}}</td>
                        
                       
                       
                        <td>
                            <a class="btn btn-danger" (click)="onDeleteProvince(p['_links'].self.href)"><i class="fa fa-remove" style="font-size:17px"></i> Supprimer</a>&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-success" (click)="onEditProvince(p)"><i class="fa fa-edit" style="font-size:17px"></i> Modifier</a>
                          
                        </td>
                    </tr>
                </tbody>
              
            </table>
            <ul *ngIf="pages" class="pagination">
                <li [ngClass]="i==currentPage ? 'page-item active' : 'page-item'" *ngFor="let p of pages;let i = index">
                    <a class="clickable page-link" (click)="onPageProvince(i)">{{i}}</a>
                </li>
            </ul>
         
          
           
        </div>
    </div>
</div>