<div class="container2">
    <div class="card card-primary">
        <div class="card-header">Liste des projets</div>
     
       
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="mt-2  form-group">
                        Projets par province   <select class="form-control" *ngIf="provinces" [(ngModel)]="selectedProvince" (ngModelChange)="onRowClick()">
                             
                             <option *ngFor="let province of provinces['_embedded'].provinces" [value]="province.id">{{province.province}}</option>
                           </select>
                     </div>
                </div>
                <div class="col">
                    <div class="mt-2  form-group">
                        Projets par commune   <select class="form-control" *ngIf="communes" [(ngModel)]="selectedCommune" (ngModelChange)="onRowClickCommune()">
                             
                             <option *ngFor="let commune of communes['_embedded'].communes" [value]="commune.id">{{commune.commune}}</option>
                           </select>
                     </div>
                </div>
                <div class="col">
                    <div class="mt-2  form-group">
                        Projets par statut   <select class="form-control" *ngIf="statuts" [(ngModel)]="selectedStatut" (ngModelChange)="onRowClickStatut()">
                             
                             <option *ngFor="let statut of statuts['_embedded'].statuts" [value]="statut.id">{{statut.statut}}</option>
                           </select>
                     </div>
                </div>
                <div class="col">
                    <div class="mt-2  form-group">
                        Projets par axe   <select class="form-control" *ngIf="axes" [(ngModel)]="selectedAxe" (ngModelChange)="onRowClickAxe()">
                             
                             <option *ngFor="let axe of axes['_embedded'].axes" [value]="axe.id">{{axe.axe}}</option>
                           </select>
                     </div>
                </div>
            </div>



       


            <div class="row">
                <div class="col">
                    <div class="form-group">
                        Projets par secteur   <select class="form-control" *ngIf="secteurs" [(ngModel)]="selectedSecteur" (ngModelChange)="onRowClickSecteur()">
                             
                             <option *ngFor="let secteur of secteurs['_embedded'].secteurs" [value]="secteur.id">{{secteur.secteur}}</option>
                           </select>
                     </div>
                </div>
          
                <div class="col">
                    <div class="form-group">
                        Projets par  situation d'étude   <select class="form-control" name="situationEtude" *ngIf="situationEtudes" [(ngModel)]="selectedSituationEtude" (ngModelChange)="onRowClickSituationEtude()">
                            
                            <option *ngFor="let situationEtude of situationEtudes['_embedded'].situationEtudes" [value]="situationEtude.id">{{situationEtude.situation}}</option>
                          </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        Projets par  Taux d'avancement   <select class="form-control" name="tauxAvancement" *ngIf="tauxAvancements" [(ngModel)]="selectedTauxAvancement" (ngModelChange)="onRowClickTauxAvancement()">
                            
                            <option *ngFor="let tauxAvancement of tauxAvancements['_embedded'].tauxAvancements" [value]="tauxAvancement.id">{{tauxAvancement.tauxAvancement}}</option>
                          </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        Projets par maitre d'oeuvrage:   <select class="form-control" name="maitreOuvrage" *ngIf="mos" [(ngModel)]="selectedMaitreOuvrage" (ngModelChange)="onRowClickMO()">
                            
                            <option *ngFor="let maitreOuvrage of mos['_embedded'].maitreOuvrages" [value]="maitreOuvrage.id">{{maitreOuvrage.maitreOuvrage}}</option>
                          </select>
                    </div>
                </div>
              
              
            </div>
            















            <div class="d-flex">
            <div class="d-inline-block">
                <form #f="ngForm" (ngSubmit)="onChercher(f.value)">
                    <div class="form-group">
                        <label>projet</label>&nbsp;
                        
                        <input type="text" [(ngModel)]="contenu"  name="keyword">&nbsp;
                        <button type="submit" class="btn btn-success"><i class="fa fa-search" style="font-size:17px"></i> chercher</button>
                      
                    </div>
               </form>
            </div>
           
            <div class="ml-auto d-inline-block">
             
                <button (click)="ajouter()" class="btn btn-primary">
                    <i class="fa fa-plus-square-o" style="font-size:17px"></i> Ajouter
                    </button>
            </div>
        </div>
      
          
            <table class="table table-bordered" *ngIf="projets">
                <thead>
                    <tr>
                        
                        <th style="width:10%">Intitulé francais</th>
                        <!-- <th style="width:10%">Intitule arabe</th> -->
                        <th style="width:10%">Localisation</th>
                        <th style="width:10%">Consistence</th>
                        <!-- <th style="width:10%">benificiares</th> -->
                       <th style="width:5%">Delai</th>
                       <th style="width:5%">coût</th>
                       <th style="width:6%"> Date de lancement</th>
                       <th style="width:7%">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of projets['_embedded'].projets">
                        
                        <td>{{p.projet}}</td>
                        <!-- <td>{{p.projet_ar}}</td> -->
                        <td>{{p.location}}</td>
                        <td>{{p.consistence}}</td>
                        <!-- <td>{{p.benificiares}}</td> -->
                        <td>{{p.delai}} Ans</td>
                        <td>{{p.cout}} MDH</td>
                        <td>{{p.dateLancement}}</td>
                        
                       
                       
                        <td>
                            <a class="btn btn-danger" (click)="onDeleteProjet(p['_links'].self.href)"><i class="fa fa-remove" style="font-size:17px"></i></a>&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-success" (click)="onEditProjet(p)"><i class="fa fa-edit" style="font-size:17px"></i> </a>
                          
                        </td>
                    </tr>
                </tbody>
              
            </table>
            <ul *ngIf="pages" class="pagination" [ngClass]="selected==true? 'd-none' : 'd-flex'">
                <li [ngClass]="i==currentPage ? 'page-item active' : 'page-item'" *ngFor="let p of pages;let i = index">
                    <a class="clickable page-link" (click)="onPageProjet(i)">{{i}}</a>
                </li>
            </ul>
         
          
           
        </div>
    </div>
</div>