
<div class="col-md-8 mx-auto">
    <button (click)="gotoList()" class="btn btn-primary">Liste des projets</button><br><br>
    <div class="card">
        <div class="card-header">
            Nouveau projet
        </div>
        <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onUpdateCommune(f.value)" *ngIf="currentProjet">
           
                    <div class="form-group">
                        <label  class="control-label">
                            Intitulé en francais
                        </label>
                        <input type="text" name="projet" ngModel  [(ngModel)]="currentProjet.projet" class="form-control">
                    </div>
              
             
                    <div class="form-group">
                        <label  class="control-label">
                            Intitulé en arabe
                        </label>
                        <input type="text" name="projet_ar" ngModel [(ngModel)]="currentProjet.projet_ar" class="form-control">
                    </div>
                
           
         
            <div class="form-group">
                <label  class="control-label">
                    Localisation
                </label>
                <input type="text" name="location" ngModel class="form-control">
            </div> 
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        Commune   <select class="form-control" name="commune" *ngIf="communes"  [ngModel]="communeId"   (ngModelChange)="onRowClickCommune($event)" >
                            
                            <option *ngFor="let commune of communes['_embedded'].communes" [value]="commune.id">{{commune.commune}}</option>
                          </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        Province   <select class="form-control" name="province" *ngIf="provinces" [(ngModel)]="selectedProvince" [ngModel]="provinceId"   (ngModelChange)="onRowClick($event)">
                            
                            <option *ngFor="let province of provinces['_embedded'].provinces" [value]="province.id">{{province.province}}</option>
                          </select>
                    </div>
                </div>
            </div>
          
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        Statut   <select class="form-control" name="statut" *ngIf="statuts"  [ngModel]="statutId"   (ngModelChange)="onRowClickStatut($event)" >
                            
                            <option *ngFor="let statut of statuts['_embedded'].statuts" [value]="statut.id">{{statut.statut}}</option>
                          </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        Maitre d'ouvrage:   <select class="form-control" name="maitreOuvrage" *ngIf="mos" [(ngModel)]="selectedMaitreOuvrage" [ngModel]="moId"   (ngModelChange)="onRowClickMO($event)" >
                            
                            <option *ngFor="let maitreOuvrage of mos['_embedded'].maitreOuvrages" [value]="maitreOuvrage.id">{{maitreOuvrage.maitreOuvrage}}</option>
                          </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mt-2  form-group">
                         Axe   <select class="form-control" name="axes" *ngIf="axes" [(ngModel)]="selectedAxe" [ngModel]="axeId"   (ngModelChange)="onRowClickAxe($event)">
                             
                             <option *ngFor="let axe of axes['_embedded'].axes" [value]="axe.id">{{axe.axe}}</option>
                           </select>
                     </div>
                </div>
                <div class="col">
                    <div class="mt-2  form-group">
                         Secteur   <select class="form-control" name="secteurs" *ngIf="secteurs"  [ngModel]="secteurId"   (ngModelChange)="onRowClickSecteur($event)">
                             
                             <option *ngFor="let secteur of secteurs['_embedded'].secteurs" [value]="secteur.id">{{secteur.secteur}}</option>
                           </select>
                     </div>
                </div>
          
              
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        Situation d'étude   <select class="form-control" name="situationEtude" *ngIf="situationEtudes"  [ngModel]="situationId"   (ngModelChange)="onRowClickSituation($event)" >
                            
                            <option *ngFor="let situationEtude of situationEtudes['_embedded'].situationEtudes" [value]="situationEtude.id">{{situationEtude.situation}}</option>
                          </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        Taux d'Avancement   <select class="form-control" name="tauxAvancement" *ngIf="tauxAvancements">
                            
                            <option *ngFor="let tauxAvancement of tauxAvancements['_embedded'].tauxAvancements" [value]="tauxAvancement.id">{{tauxAvancement.tauxAvancement}}</option>
                          </select>
                    </div>
                </div>
            </div>
          
          <div class="row">
              <div class="col">
                <div class="form-group">
                    <label  class="control-label">
                        Consistence
                    </label>
                    <input type="text" name="consistence" [(ngModel)]="currentProjet.consistence" ngModel class="form-control">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                    <label  class="control-label">
                        Delai
                    </label>
                    <input type="number" name="delai" ngModel [(ngModel)]="currentProjet.delai" class="form-control">
                </div>
              </div>
          </div>
          
           
          <div class="row">
              <div class="col">

                <div class="form-group">
                    <label  class="control-label">
                        Date lancement
                    </label>
                    <input type="date" name="dateLancement" ngModel [(ngModel)]="currentProjet.dateLancement" class="form-control">
                </div>
            
              </div>
              <div class="col">
                     
            <div class="form-group">
                <label  class="control-label">
                    Cout
                </label>
                <input type="number" name="cout" ngModel [(ngModel)]="currentProjet.cout" class="form-control">
            </div>
              </div>
          </div>
          <div class="form-group">
            <label  class="control-label">
                Benificiares
            </label>
            <input type="text" name="benificiares" ngModel [(ngModel)]="currentProjet.benificiares" class="form-control">
        </div>
           
        <div class="form-group">
            <label for="comment">Partenaires:</label>
            <textarea class="form-control" name="partenaireContribution"  ngModel [(ngModel)]="currentProjet.partenaireContribution" rows="5" id="comment"></textarea>
          </div>
            <button class="btn btn-success" type="submit">Ajouter</button>
    
        </form>
    </div>
    </div>
</div>
