
<div class="col-md-4 mx-auto">
    <button (click)="gotoList()" class="btn btn-primary">Liste des provinces</button>
    <br> <br>
    <div class="card">
        <div class="card-header">
            Nouvelle province
        </div>
        <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onSaveProvince(f)">
            <div class="form-group">
                <label  class="control-label">
                    Intitulé en francais
                </label>
                <input type="text" name="province" ngModel  ngModel class="form-control">
            </div>
            <div class="form-group">
                <label  class="control-label">
                    Intitulé en arabe
                </label>
                <input type="text" name="province_ar" ngModel class="form-control">
            </div>
          
            <button class="btn btn-success" type="submit">Ajouter</button>
    
        </form>
    </div>
    </div>
</div>
