<div class="container">

    <div class="row">
        <div class="col-md-6">

            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Repartition par provinces</h4>   
                </div>
                <div class="card-body">
                    <div id="divChart">
                        <canvas id="myChartProvince" height="330" width="500"></canvas>
                    </div>
        
            </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Repartition par situations d'étude</h4>   
                </div>
                <div class="card-body">
                    <div id="divChart">
                        <canvas id="myChartEtude" height="330" width="500"></canvas>
                    </div>
        
            </div>
            </div>
        </div>
    
    </div>
   

    <div class="row mt-2">
        <div class="col-md-6">

            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Repartition par statuts</h4>   
                </div>
                <div class="card-body">
                    <div id="divChart">
                        <canvas id="myChartStatut" height="330" width="500"></canvas>
                    </div>
        
            </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Repartition par taux d'avancement</h4>   
                </div>
                <div class="card-body">
                    <div id="divChart">
                        <canvas id="myChartTaux" height="330" width="500"></canvas>
                    </div>
        
            </div>
            </div>
        </div>
    
    </div>
   
</div>











<div class="container mt-2">
    <div class="">
        <div class="card">
        <div class="card-header">
            <h4 class="text-center">Repartition par commune</h4>
              
        </div>
        <div class="card-body">
                <div id="divChart2">
                    <canvas id="myChart"  height="380" width="950"></canvas>
                </div>
    
        </div>
    </div>
    </div>

    

  
</div>
<div class="container mt-2">
    <div class="">
        <div class="card">
        <div class="card-header">
            <h4 class="text-center">Repartition par axes</h4>
              
        </div>
        <div class="card-body">
                <div id="divChart2">
                    <canvas id="myChartAxe"  height="380" width="950"></canvas>
                </div>
    
        </div>
    </div>
    </div>

    

  
</div>









